body {
    margin: 0px;
    background-color: rgb(177,177,180);
    animation: introfinish 7s;
}

.diamond {
    z-index: 0;
    width: 500px;
    height: 500px;
    background: linear-gradient(45deg, rgba(242,17,26,1) 0%, rgba(253,193,45,1) 50%, rgba(242,17,26,1) 100%);
    transform: rotate(45deg);
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
}

.triangle {
    display: inline-block;
    width: 250px;
    height: 250px;
    background: linear-gradient(45deg, rgba(242,17,26,1) 0%, rgba(242,17,26,1) 0%, rgba(253,193,45,1) 25%, rgba(242,17,26,0) 50%);
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    margin-top: -250px;
    margin-left: -250px;
}

.left {
    transform: rotate(45deg);
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    margin-top: -245px;
    margin-left: -82px;
    opacity: 1;
    animation: slideup 3s forwards;
}

.right {
    transform: rotate(225deg);
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    margin-top: 0px;
    margin-left: -162px;
    opacity: 1;
    animation: slidedown 3s forwards;
}

.intro {
    opacity: 0;
    animation: introfade 5s;
}

@keyframes slidedown {
    0%{opacity:0; margin-top: -125px;
    margin-left: 52px; }
    50%{opacity: 1;}
    100% {margin-top: 0px;
    margin-left: -162px;}
}

@keyframes slideup {
    0%{opacity: 0; margin-top: -125px;
    margin-left: -302px;}
    50%{opacity: 1;}
    100% {margin-top: -245px;
    margin-left: -82px;}
}

@keyframes introfinish {
    0%{background-color: rgb(234,234,234);}
    75%{background-color: rgb(234,234,234);}
    100%{background-color: rgb(177,177,180);}
}

@keyframes introfade {
    0%{opacity:1}
    75%{opacity: 1;}
    100%{opacity: 0;}
}