body {
    margin: 0px;
    background-color: rgb(177,177,180);
    animation: introfinish 7s;
}

.diamond {
    z-index: 0;
    width: 500px;
    height: 500px;
    background: linear-gradient(45deg, rgba(242,17,26,1) 0%, rgba(253,193,45,1) 50%, rgba(242,17,26,1) 100%);
    transform: rotate(45deg);
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
}

.triangle {
    display: inline-block;
    width: 250px;
    height: 250px;
    background: linear-gradient(45deg, rgba(242,17,26,1) 0%, rgba(242,17,26,1) 0%, rgba(253,193,45,1) 25%, rgba(242,17,26,0) 50%);
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    margin-top: -250px;
    margin-left: -250px;
}

.left {
    transform: rotate(45deg);
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    margin-top: -245px;
    margin-left: -82px;
    opacity: 1;
    animation: slideup 3s forwards;
}

.right {
    transform: rotate(225deg);
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    margin-top: 0px;
    margin-left: -162px;
    opacity: 1;
    animation: slidedown 3s forwards;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
}

.intro h2 {
    color: rgb(53,64,158);
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 400px;
    margin-left: -180px;
    text-shadow: 4px 3px 10px #787878;
}

.intro {
    opacity: 0;
    animation: introfade 5s;
}

.logo {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -330px;
    opacity: 1;
}

.secondlogo h2 {
    position: fixed;
    top: 50%;
    left: 50%;
    text-shadow: 4px 3px 10px #787878;
}

.top {
    margin-top: -400px;
    margin-left: -260px;
}
    
.bottom {
    margin-top: 350px;
    margin-left: -260px;
}

.secondlogo {
    opacity: 1;
    animation: secondlogofadein 10s;
}

@keyframes slidedown {
    0%{opacity:0; margin-top: -125px;
    margin-left: 52px; }
    50%{opacity: 1;}
    100% {margin-top: 0px;
    margin-left: -162px;}
}

@keyframes slideup {
    0%{opacity: 0; margin-top: -125px;
    margin-left: -302px;}
    50%{opacity: 1;}
    100% {margin-top: -245px;
    margin-left: -82px;}
}

@keyframes introfinish {
    0%{background-color: rgb(234,234,234);}
    75%{background-color: rgb(234,234,234);}
    100%{background-color: rgb(177,177,180);}
}

@keyframes introfade {
    0%{opacity: 1;}
    75%{opacity: 1;}
    100%{opacity: 0;}
}

@keyframes secondlogofadein {
    0%{opacity: 0;}
    50%{opacity: 0;}
    75%{opacity: 1;}
    100%{opacity: 1;}
}
  
a {
    color: #000;
}

  
.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
.header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
.header li a:hover,
.header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  

  
.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
.header .menu-icon .navicon:before {
    top: 5px;
  }
  
.header .menu-icon .navicon:after {
    top: -5px;
  }
  
.header .menu-btn {
    display: none;
  }
  
.header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
@media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }
  